<!DOCTYPE html>
<html lang="en" style="background-image: url(pictures/backabout.jpg)"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link type="text/css" rel="stylesheet" href="css/stilAbout.css">


</head>
<body style="margin-top: 120px; ">
<br><br><br>
<h1>Welcome to <br>The Last Chapter!</h1>
<a th:href="@{/products}"> Back to shop</a>
<hr>
<h3>A trusted brand</h3><br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbspStarting with 2019, the last chapter won the interest of book lovers in Romania, facilitating the access of all Romanians to cheap books and the most complete offer of titles.
<br><br>
<h3>Varied book offer</h3><br>

&nbsp &nbsp &nbsp &nbsp &nbsp &nbspUnlike other online bookstores that focus on top sales, at The Last Chapter we try to sell any book in Romania but also abroad. Our bookstore offers customers books of fiction, cooking, romance to children's books and art.
<br><br>
<h3>Low prices</h3><br>

&nbsp &nbsp &nbsp &nbsp &nbsp &nbspWe have never hesitated to do everything possible to offer as many titles as possible at a reduced price. At the same time, you can hardly find the discounts from us elsewhere. We know that book lovers do not have big budgets and we are always looking to optimize our operating costs in order to be able to survive on the market by offering as many and as big discounts as possible.
<br><br>
<h3>We want to please you</h3><br>

&nbsp &nbsp &nbsp &nbsp &nbsp &nbspWe are receptive to your requests and suggestions, trying to satisfy all your requirements as favorably and efficiently as possible. Disadvantages are inevitable, but our target is zero dissatisfied customers.
<hr>


</body>
</html>