<!DOCTYPE html>
<html lang="en" style="background-color: tan"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link type="text/css" rel="stylesheet" href="css/stilAbout.css">

</head>
<body style="margin-top: 120px; ">
<br><br><br>
<h1>Welcome to <br>The Last Chapter!</h1>
<a th:href="@{/productsLogin}"> Back to shop</a>
<hr>
<h2>Customer support</h2><br>
<p>
    Work program: from Monday to Friday, 9 -18<br>
    0040771190545<br>
    0040772252302<br>
    contact@thelastchaptershop.ro<br><br>
    Follow us <img src="pictures/instaIcon.png" height="20px" width="20px">
    <img src="pictures/fbIcon.png" height="20px" width="20px">
</p>
<hr>

</body>
</html>