<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background-color: darkseagreen">
<head>
    <meta charset="UTF-8">
    <title>Delete Clients</title>
    <link type="text/css" rel="stylesheet" href="css/stilOrder.css">

</head>
<body >
<div class="container-fluid my-5 d-sm-flex justify-content-center" style="background-color: darkseagreen">
    <h1 style="margin-left: 480px">The page where you can manage the clients!</h1>
    <div class="card px-2" style="margin-left: 150px; margin-right: 150px;padding-top: 80px">
        <div style="padding-left: 1000px;background-color: darkseagreen;"> <a th:href="@{/logout}" style="size: 100em"><img src="./pictures/logout.png" height="27" width="30"></a>Logout</div>

        <div class="card-header bg-white" style="margin-top: 200px;">

            <div class="row justify-content-between">

                <div class="col" style="padding-top: 80px;padding-bottom: 90px">
                </div>
            </div>
            <div class="card-body" >
                <div class="card-footer bg-white px-sm-3 pt-sm-4 px-0">
                    <div class="row text-center ">
                        <p> <h4 style="padding-bottom: 10px;"><a th:href="@{/adminPage}">&nbsp&nbsp&nbsp&nbsp<-Back to home page</a></h4></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>