<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Products Page</title>
    <link type="text/css" rel="stylesheet" href="css/stilAdmin.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="upEditP">

</div>
<div class="container" style=" height: 820px; background-color: #B8FFA0; margin-left: 200px; padding-top: 20px; margin-top: 80px">
    <h2>Update Books</h2><hr>
    <form name="addProd" method="post" action="#" th:action="@{/process_addProd}" th:object = "${produs}">

        <!-- Add hidden form field to handle update-->
        <input type="hidden" th:field="*{id_prod}"/>

        <h6>Title</h6><input type="text" th:field="*{titlu}"  class="form-control mb-4 col-4" REQUIRED>
        <h6>Author</h6><input type="text" th:field="*{autor}"  class="form-control mb-4 col-4" REQUIRED>
        <h6>Publishing</h6><input type="text" th:field="*{editura}"  class="form-control mb-4 col-4" REQUIRED>
        <h6>Type</h6><input type="text" th:field="*{gen}"  class="form-control mb-4 col-4" REQUIRED>
        <h6>Quantity</h6><input type="text" th:field="*{cantitate}"  class="form-control mb-4 col-4" REQUIRED>
        <h6>Price</h6><input type="text" th:field="*{pret}"  class="form-control mb-4 col-4" REQUIRED>
        <h6>Image</h6><input type="text" th:field="*{imagine}"  class="form-control mb-4 col-4" REQUIRED>
        <button type="submit" name="submit1" value="Update product" class="btn btn-info col-2">Update Product</button>
    </form>
    <hr>

    <a th:href = "@{/productsList}"> Back to Products List</a>
</div>
</body>
</html>