<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
<!--        <link type="text/css" rel="stylesheet" href="css/stil.css">-->
    <link type="text/css" rel="stylesheet" href="css/stilHome.css">

</head>
<body>
<!--<div class="top">-->
<!--    <div class="up">-->
<!--        <div class="logo"><img src="pictures/logo.png" height="100" width="150" alt="Error">-->
<!--        </div>-->
<!--        <div class="menu"><h1 style="font-size: 125%;font-weight: normal;text-align: right;margin-right: 40px;font-family: Cambria;">-->
<!--            <a href="about.html" target="_top" class="linkMenuHome"> About</a>-->
<!--            <a href="contact.html" target="_top" class="linkMenuHome"> Contact</a></h1>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="mijloc">-->
<!--        <br><br><br><br>-->
<!--       <h1 style="color: white;text-align: center; font-size: xx-large">SHOP ONLINE WITH THE LAST CHAPTER</h1>-->
<!--        <img src="pictures/HomeBook5.png" width="130" height="170" style="margin-left: 3%;">-->
<!--        <img src="pictures/HomeBook6.png" width="130" height="170" style="margin-left: 76%;">-->
<!--        <a th:href="@{/products}" target="_top" class="linkMenuHome"><button type="button" class="bookStore"><h3 style="color: chocolate">Go to shop</h3></button></a>-->
<!--        <br><br><br><br><br>-->
<!--        <img src="pictures/HomeBook1.png" width="150" height="200" style="margin-left: 10%;">-->
<!--        <img src="pictures/HomeBook2.png" width="150" height="200" style="margin-left: 12%;">-->
<!--        <img src="pictures/HomeBook3.png" width="150" height="200" style="margin-left: 14%;">-->
<!--        <img src="pictures/HomeBook4.png" width="150" height="200" style="margin-left: 14%;">-->
<!--    </div>-->

<!--</div>-->
<div class="ternary-system">
    <div class="sun primary"></div>
    <div class="sun secondary"></div>
    <div class="sun ternary"></div>
</div>
<div class="sand">
</div>
<div class="pyramid">
</div>
<div class="text">
    <h1 class="title"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp The <strong>  Last Chapter</strong></h1>
    <a th:href="@{/products}"><button style="margin-left: 1090px"><strong><h2>Go to Shop</h2></strong></button ></a>
</div>
<div style="margin-top: 400px;">
<div class="book1" style="margin-left: 87px">
    <div class="ribbon1">
    </div>
    <div class="bookCut">
    </div>
</div>
<div class="book2" style="margin-left: 100px">
    <div class="ribbonCut1"></div>
    <div class="ribbonCut2"></div>
    <div class="ribbonCut3"></div>
</div>

<div class="book3" style="margin-left: 100px">
    <div class="ribbon3">
    </div>
    <div class="bookCut3">
    </div>
</div>
<div class="book4" style="margin-left: 73px">
    <div class="ribbonCut4"></div>
    <div class="ribbonCut5"></div>
    <div class="ribbonCut6"></div>
</div>
<div class="book5" style="margin-left: 100px"></div>
<div class="book6" style="margin-left: 120px">
    <div class="ribbon6">
    </div>
    <div class="bookCut6">
    </div>
</div>
<div class="book7" style="margin-left: 100px">
    <div class="ribbonCut7"></div>
    <div class="ribbonCut8"></div>
    <div class="ribbonCut9"></div>
</div>
</div>
</body>
</html>