<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List Page</title>
    <link type="text/css" rel="stylesheet" href="css/stilAdmin.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="upListP">
    <div class="logo1"><a th:href="@{home}"><img src="pictures/logo.png" height="100" width="150" style="position: center"></a>
    </div>
</div>
<div style="background-color: blanchedalmond; height: auto; padding-top: 40px">
<div class="container my-2" style=" background-color: white; padding-top: 20px" >
    <a th:href = "@{/addProducts}" class="btn btn-primary btn-sm mb-3" style="height: 37px; width: 120px;"> Add Product </a>
    <h6 style="color:grey;"><a  th:href="@{adminPage}">Back to home page</a></h6>
    <table style="border: 1px" class = "table table-striped table-responsive-md">
        <thead >
        <th><h6 style ="color: black; size: 10px">Title</h6></th>
        <th><h6 style ="color: black; size: 10px">Author</h6></th>
        <th><h6 style ="color: black; size: 10px">Publishing</h6></th>
        <th><h6 style ="color: black; size: 10px">Type</h6></th>
        <th><h6 style ="color: black; size: 10px">Quantity</h6></th>
        <th><h6 style ="color: black; size: 10px">Price</h6></th>
        <th><h6 style ="color: black; size: 10px">Image</h6></th>
        <th><h6 style ="color: black; size: 10px">Actions</h6></th></thead>
        <tbody>
        <tr th:each="book: ${listBooks}">
            <td th:text="${book.titlu}" ></td>
            <td th:text="${book.autor}" ></td>
            <td th:text="${book.editura}" ></td>
            <td th:text="${book.gen}"></td>
            <td th:text="${book.cantitate}" ></td>
            <td th:text="${book.pret}" ></td>
<!--            <td><img th:src="@{${'/pictures/' + book.imagine}}" width="200px" height="200px"/></td>-->
            <td th:style="'background-image:url('+ ${book.imagine}+');background-size:cover;width:100px;height:150px'"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${book.id_prod})}" class="btn btn-primary" style="height: 37px">Update</a><br>
                <a th:href="@{/deleteProduct/{id}(id=${book.id_prod})}" class="btn btn-danger" style="height: 37px;width: 79px">Delete</a></td>
        </tr></tbody>
    </table>
</div>
</div>
</body>
</html>